{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}GastroLab{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav class="menu">
        <a class="menu-itens" href="{% url 'home' %}"><ul>Home</ul></a>
        <a class="menu-itens" href="{% url 'cadastrar_insumos' %}"><ul>Insumos</ul></a>
        <a class="menu-itens" href="#"><ul>Fichas Técnicas</ul></a>
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>