* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #561013;
}

a {
    text-decoration: none;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 20px;
}

.menu-itens{
    color: white;
    padding: 10px;
    border: 1px solid white;
    border-radius: 8px;
}

.menu-itens:hover{
    color: black;
    background-color: #FFE4F3;
}